/* 
	ZHUONAN SUN CSE154 AE 
	7/10/2013 HW2
	This is the stylesheet for tmnt.html
*/

body {
	background-image: url(https://webster.cs.washington.edu/images/moviebg.png);
	font-size: 8pt;
	font-family: Verdana, Tahoma, sans-serif;
}

.banner {
	height: 50px;
	text-align: center;
	background-image: url(https://webster.cs.washington.edu/images/rancidbannerbg.png);
}

h1 {
	font-size: 24pt;
	font-family: Tahoma, Verdana, sans-serif;
	text-align: center;
	text-shadow: 3px 3px #999999;
}

#main{
	border: 4px gray solid;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#main > img, #overview{
	float: right;
	width: 250px;
	background-color: #A2B964;
}

dl {
	margin: 10pt;
	font-family: Arial, sans-serif;
}

dt {
	margin-top: 10pt;
}

ul {
	list-style-type: none;
	padding: 0;
}

#main > p {
	padding: 5px;
	text-align: center;
	background-color: #A2B964;
}

#overview, #main > p {
	clear: right;
}

.rotten{
	background-image: url(https://webster.cs.washington.edu/images/rottenlargebg.png); 
	width: 800px;
	height: 83px;
	font-size: 48pt;
	color: red;
}

.rotten img {
	vertical-align: bottom;
}

#reviews {
	width: 550px;
}
.column {
	width: 47%;
	margin-left: 2%;
	margin-right: 0;
}

.review {
	border: 2px gray solid;
	padding: 8px;
	background-color: #E8DC9B;
}

.review  img, .reviewer img{
	margin-right: 5px;
}

.reviewer {
	margin-bottom: 20pt;
}

.column, .review img, .reviewer img {
	float: left;
}

#main, .review, .reviewer, #reviews {
	overflow: hidden;
}

dt, h1, .review, .rotten {
	font-weight: bold;
}

.banner, body, #main > img, #main > p , #overview, #reviews {
	margin: 0;
}

.publication {
	font-style: italic;
}

#main a {
	text-align: right;
}